<footer class="bg-light text-secondary mt-5 py-4 border-top">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2025 Perpustakaan Jendela Bangsa. Semua Hak Dilindungi.</p>
            </div>
            
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#" class="text-secondary text-decoration-none">Kebijakan Privasi</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="#" class="text-secondary text-decoration-none">Syarat & Ketentuan</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>